fir-test-9cec2-firebase-adminsdk-feja5-989a4e0208.json
# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Misc
.DS_Store
Thumbs.db